# Postgres core
PG_HOST=127.0.0.1
PG_PORT=5433
PG_DATABASE=strudel
PG_USER=postgres
PG_PASSWORD=pass

# pgAdmin (solo interfaz)
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin

# Node env
NODE_ENV=development
